/* 
----- 01 Typography -----


- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHT
  Default : 400
- Colors
  Main : #e67e22
  Tints:
  Accents:
  Shades:
  Grays: #555, #777, #999, #bbb, #ddd, #f5f5f5

- Shadows

- Border Radius

-White Space
  - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
----- END Typography -----

*/
:root {
  --color-accent: #e67e22;
  --color-accent-light: #fae5d3;
  --color-accent-dark: #cf711f;
  --color-gray-dark: #333;
  --color-gray-medium: #555;
  --color-gray-light: #f5f5f5;

  --font-size-base: 1.6rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --spacing-medium: 3.2rem;
  --spacing-large: 4.8rem;
  --spacing-larger: 6.4rem;

  --letter-spacing-normal: 1.05px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color-gray-medium);
}
/* *************** */
/* GENERAL REUSABLE COMPONENTS */

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  /* font: inherit; */
  color: #000;
  border-radius: 8px;
  transition: all ease 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: var(--color-accent-dark);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-accent-light);
  color: var(--color-gray-medium);
  box-shadow: 0 0 0 2px #fff inset;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  line-height: 1.05;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-dark);
  letter-spacing: var(--letter-spacing-normal);
}
.heading-primary {
  font-size: 4.8rem;
  margin-bottom: var(--spacing-medium);
}
.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-accent-dark);
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  background-color: var(--color-accent-light);
  padding: 0 3.2rem;
}
.logo {
  height: 2rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--center-v {
  align-items: center;
}
