/* 
----- 01 Typography -----


- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHT
  Default : 400
- Colors
  Main : #e67e22
  Tints:
  Accents:
  Shades:
  Grays: #555, #777, #999, #bbb, #ddd, #f5f5f5

- Shadows

- Border Radius

-White Space
  - SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
----- END Typography -----

*/
:root {
  --color-accent: #e67e22;
  --color-accent-light: #fae5d3;
  --color-accent-dark: #cf711f;
  --color-gray-dark: #333;
  --color-gray-medium: #555;
  --color-gray-light: #f5f5f5;

  --font-size-base: 1.6rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --spacing-medium: 3.2rem;
  --spacing-large: 4.8rem;
  --spacing-larger: 6.4rem;

  --letter-spacing-normal: 1.05px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color-gray-medium);
}
/* *************** */
/* GENERAL REUSABLE COMPONENTS */

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  /* font: inherit; */
  color: #000;
  border-radius: 8px;
  transition: all ease 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: var(--color-accent-dark);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-accent-light);
  color: var(--color-gray-medium);
  box-shadow: 0 0 0 2px #fff inset;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-medium);
  line-height: 1.05;
  color: var(--color-gray-dark);
  letter-spacing: var(--letter-spacing-normal);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  background-color: var(--color-accent-light);
  padding: 0 3.2rem;
}
.logo {
  height: 2rem;
}

/* *************** */
/* SECTION NAV */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-gray-dark);
  text-decoration: none;
  transition: all ease 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-accent-dark);
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  background-color: var(--color-accent-dark);
  color: #f5f5f5;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-accent);
}

/* SECTION HERO */
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--color-accent-light);
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: 3.2rem;
  gap: 9.6rem;
}

.hero-description {
  font-size: 1.8rem;
  margin-bottom: var(--spacing-large);
  line-height: var(--line-height-md);
}
.hero-image {
  width: 100%;
}
.hero-cta {
  display: flex;
  gap: 2rem;
  margin-bottom: var(--spacing-larger);
}

/* DELIVERED MEALS */
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-left: -1.5rem;
  border: 2.5px solid var(--color-accent-light);
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-number {
  color: var(--color-accent-dark);
  font-size: 2.4rem;
}
