/* *************** */
/* SECTION NAV */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-gray-dark);
  text-decoration: none;
  transition: all ease 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-accent-dark);
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  background-color: var(--color-accent-dark);
  color: #f5f5f5;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-accent);
}

/* SECTION HERO */
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--color-accent-light);
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 130rem;
  margin: 0 auto;
  padding-inline: 3.2rem;
  gap: 9.6rem;
}

.hero-description {
  font-size: 1.8rem;
  margin-bottom: var(--spacing-large);
  line-height: var(--line-height-md);
}
.hero-image {
  width: 100%;
}
.hero-cta {
  display: flex;
  gap: 2rem;
  margin-bottom: var(--spacing-larger);
}

/* DELIVERED MEALS */
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-left: -1.5rem;
  border: 2.5px solid var(--color-accent-light);
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-number {
  color: var(--color-accent-dark);
  font-size: 2.4rem;
}

/* HOW IT WORKS */
.section-how {
  padding: 4.8rem 0;
}

/* STEP */
.step-image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-image-box::before {
  content: '';
  display: block;
  width: 60%;
  padding-bottom: 60%;

  background-color: var(--color-accent-light);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-image-box::after {
  content: '';
  display: block;
  width: 80%;
  padding-bottom: 80%;

  background-color: var(--);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-image-box img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #ddd;
}
.step-description {
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--color-gray-medium);
}
