:root {
  --color-accent: #14120b;
  --color-accent-light: #1b1913;

  --primary-text-color: #edecec;
  --bg-button-white: #d7d6d5;
  --color-gray: #b6b5b3;
  /*  #EDECEC */
  --font-size-small: 1.4rem;
  --font-size-base: 1.6rem;

  --fw-regular: 400;
  --fw-md: 600;
  --fw-bold: 700;

  --spacing-sm: 0.8rem;
  --spacing-md: 2rem;
}
@font-face {
  font-family: 'cursorRegular';
  src:
    url(../fonts/f30fd2e485acf1bc-s.p.3d1b066d.woff2) format('woff2'),
    url(../fonts/f30fd2e485acf1bc-s.p.3d1b066d.woff) format('woff');
}
@font-face {
  font-family: 'cursorBold';
  src:
    url(../fonts/CursorGothic_Bold-s.p.95169710.woff2) format('woff2'),
    url(../fonts/CursorGothic_Bold-s.p.95169710.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'cursorRegular', Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: var(--font-size-base); /* 16px */
  color: var(--primary-text-color);
  background-color: var(--color-accent);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-gray);
}
.icon-size {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
}

.heading-secondary {
  font-size: 1.8rem;
  font-weight: var(--fw-md);
  margin-bottom: var(--spacing-md);
  letter-spacing: 1.2px;
}
.text-center {
  text-align: center;
}
/* grid */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.trunc {
  display: inline-block;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* FLEX */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.gap-sm {
  gap: 0.01rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-12 {
  gap: 1.2rem;
}
.green-num {
  color: #27ae60;
}
.red-num {
  color: #eb5757;
}
.time {
  align-self: flex-start;
  font-size: 1.2rem;
}
.text-gray-light {
  color: #807f7b;
}
.text-gray-dark {
  color: #61605c;
}
.text-primary {
  color: var(--primary-text-color);
}
.text-secondary {
  color: #bf4105;
}
.font-bold {
  font-weight: var(--fw-bold);
}

.box {
  background-color: var(--color-accent-light);
  padding: 0.8rem;
  color: var(--primary-text-color);
}
.code-box {
  background-color: var(--color-accent-light);
  padding: 0.8rem;
}
.w-full {
  width: 100%;
}
.bg-gray {
  background-color: var(--color-accent-light);
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.mb-md {
  margin-bottom: 6.2rem;
}
.textarea {
  outline: none;
  border: none;
  resize: none;
}
.list-disc {
  list-style: disc;
}
.list-inside {
  list-style-position: inside;
}

.code-snippet-box {
  background-color: var(--color-accent-light);
  font-size: 1.2rem;
  width: 100%;
  height: 100vh;
  padding-left: 1.2rem;
  overflow: hidden;
  position: relative;
}
.code-snippet-box code {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 10%;
}
.tab {
  background-color: var(--color-accent);
  border: none;
  color: var(--primary-text-color);
  padding: 0.6rem 1.2rem;
}
.tab.tab--active {
  background-color: #1b1913;
  font-weight: var(--fw-md);
}

.code-box {
  z-index: 10;
  background-color: var(--color-accent-light);
  height: 47vh;
  background-color: var(--color-accent-light);
  position: absolute;
  top: 50%;
  right: 2.4rem;
  bottom: 10%;
  border-radius: 8px;
  font-size: 0.8rem;
  transform: translate(-18px, 0);
  overflow: hidden;
}
