/* NAVBAR */
.logo-svg {
  width: 95.37px;
}
.main-nav {
  /* position: relative; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--color-accent);
  font-weight: var(--fw-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.8rem;
  z-index: 999;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: var(--font-size-small);
  transition: color 0.3s ease;
}
.nav-link:hover,
.nav-link:active {
  color: var(--color-gray);
}

.btn {
  border: none;
  padding: 0.6rem 1.6rem;
  font-size: var(--font-size-small);
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}
.download-btn:hover,
.btn:hover {
  background-color: var(--color-gray);
}
.signin-btn,
.btn-outline {
  background-color: transparent;
  color: var(--primary-text-color);
  box-shadow: inset 0 0 0 0.02rem var(--primary-text-color);
  font-weight: var(--fw-md);
}
.signin-btn:hover,
.btn-outline:hover {
  box-shadow: inset 0 0 0 0.02rem var(--color-gray);
}

/* Resources */
.nav-resources {
  position: relative;
  transition: all 0.3s ease;
}

.resource-box {
  position: absolute;
  background-color: #1b1913;
  padding: 1.4rem;
  width: 30rem;
  display: none;
  border-radius: 0.6rem;
}
.resources-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  font-size: 1.4rem;
}
.nav-resources:hover .resource-box {
  display: block;
}

/* ICON */
.icon {
  width: 1.2rem;
  height: 1.2rem;
  display: none;
}
.resources-list li:hover .icon {
  display: inline-block;
  margin-left: 0.6rem;
  vertical-align: middle;
}

/* SECTION HERO */
.section-hero {
  margin: 12.8rem 0;
}
.hero {
  margin: 12.8rem 0;
}
.hero-text {
  font-family: 'cursorBold', Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.download {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  gap: 0.4rem;
}

.hero-bg-img {
  margin-top: 4.8rem;
}
.hero-bg-img img {
  width: 100%;
}
.image-box {
  position: relative;
  height: 100vh;
}
.show {
  opacity: 0;
}
.code-container:hover .code-top .show {
  opacity: 1;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.code-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr auto;
  grid-template-rows: 2.4rem 1fr;
  position: absolute;
  bottom: -20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  background-color: var(--color-accent);
  border-radius: 0.8rem;
  padding-inline: 1.2rem;
  overflow: hidden;
}
.code-top {
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #333;
}
.code-left,
.code-middle,
.code-right {
  padding: 1.2rem 1.2rem;
  color: var(--color-gray);
  border-right: 0.5px solid #333;
}
/* circles */
.circles {
  display: flex;
  gap: 0.5rem;
}
.circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #292821;
  border-radius: 50%;
}

.progress-text {
  font-family: cursorBold;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.in-progress-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  gap: 1rem;
}
.trunc-text {
  font-size: 1.2rem;
  max-width: 16rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -6px;
}
.generating-text {
  color: var(--color-gray);
  font-size: 1.4rem;
  font-weight: var(--fw-md);
}
/* CODE MIDDLE PART */
.code-title {
  font-family: 'cursorBold', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.8rem;
}
.code-middle {
  overflow-y: auto;
}

/* SECTION TRUSTED BY */
.section-trustedBy {
  margin: 12.8rem 0;
}

.logo-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo-item {
  height: 3vh;
  padding: 3.8rem;
  background-color: #1b1913;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-company {
  width: 100%;
}

/*  SECTION FEATURE */
.section-features {
  margin: 12.8rem 0;
}
.feature-container {
  display: grid;
  grid-template-columns: 3fr auto;
  gap: 1.2rem;
  background-color: #1b1913;
  padding: 2.4rem;
  border-radius: 0.8rem;
  align-items: center;
}

.feature-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/*  SECTION  TESTIMONIALS*/
.section-testimonials {
  margin: 12.8rem 0;
}
.card {
  background-color: #1b1913;
  padding: 2.4rem;
  border-radius: 0.8rem;
}
.card p {
  font-family: cursorBold, sans-serif;
  font-weight: 400;
  color: var(--color-gray);
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
}
.author-name {
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
}
.author-job {
  font-size: 1.2rem;
  color: var(--color-gray);
}

/* SECTION USE */
.section-use {
  margin: 12.8rem 0;
}

/* SECTION CHANGELOG */
.section-changelog {
  margin: 12.8rem 0;
}

/* SECTION TEAM */
.section-team {
  margin: 12.8rem 0;
}

/* SECTION HIGHLIGHTS */
.section-highlights {
  margin: 12.8rem 0;
}
.highlights-box {
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.highlights-box h2 {
  justify-self: start;
}

/* SECTION CTA */
.section-cta {
  margin: 12.8rem 0;
}

/* SECTION FOOTER */
.buttons {
  background-color: #292821;
  padding: 0.2rem 0.8rem;
  width: 12rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}
.buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}

.buttons button:hover {
  color: var(--color-gray);
}
