/* NAVBAR */
.logo-svg {
  width: 95.37px;
}
.main-nav {
  position: relative;
  font-weight: var(--fw-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.8rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: var(--font-size-small);
  transition: color 0.3s ease;
}
.nav-link:hover,
.nav-link:active {
  color: var(--color-gray);
}

.btn {
  border: none;
  padding: 0.6rem 1.6rem;
  font-size: var(--font-size-small);
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}
.download-btn:hover {
  background-color: var(--color-gray);
}
.signin-btn {
  background-color: transparent;
  color: var(--primary-text-color);
  box-shadow: inset 0 0 0 0.02rem var(--primary-text-color);
  font-weight: var(--fw-md);
}
.signin-btn:hover {
  box-shadow: inset 0 0 0 0.02rem var(--color-gray);
}

/* Resources */
.nav-resources {
  position: relative;
  transition: all 0.3s ease;
}

.resource-box {
  position: absolute;
  background-color: #1b1913;
  padding: 1.4rem;
  width: 30rem;
  display: none;
  border-radius: 0.6rem;
}
.resources-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  font-size: 1.4rem;
}
.nav-resources:hover .resource-box {
  display: block;
}

/* ICON */
.icon {
  width: 1.2rem;
  height: 1.2rem;
  display: none;
}
.resources-list li:hover .icon {
  display: inline-block;
  margin-left: 0.6rem;
  vertical-align: middle;
}

/* SECTION HERO */
.section-hero {
  margin: 12.8rem 0;
}
.hero-text {
  font-family: 'cursorBold', Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.download {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  gap: 0.4rem;
}

.hero-bg-img {
  margin-top: 4.8rem;
}
.hero-bg-img img {
  width: 100%;
}

/* SECTION TRUSTED BY */
.section-trustedBy {
}
