/* #04080F */
/* 
color palette
#04080F - background
#a3a5a7 - nav text
#151820 - nav background
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  background-color: #04080f;
  color: #feeadc;
  font-family: sans-serif;
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.6rem;
}
.main-nav {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  color: #a3a5a7;
  padding-block: 1rem;
  background-color: #151820;
  margin-top: 2rem;
  border-radius: 200rem;
}
.nav-link__container {
  margin-left: 8rem;
}
.nav-list {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transition: all 0.3s ease-in-out;
}

/* Navigation List */
/* .nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
} */

.nav-list li a:link,
.nav-list li a:visited {
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
}

.nav-list li a:hover,
.nav-list li a:active {
  color: #f25918;
}
/* profile */
.profile-container {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}
.profile {
  width: 100%;
  border-radius: 50%;
}

.nav-list a:link.btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  background-color: #f25918;
  color: #000;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}
.nav-list a:link.btn:hover {
  background-color: #ef7845;
  color: #04080f;
}
