body {
  background-color: #000;
  color: #fff;
  width: 10px;
  width: 100%;
  width: 10px;
  /* background */
  background: #000;
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  background-position: 10px;
  background-position: 10px 10px;
  /* color */
  color: #000;
  color: red;
  color: #fff;
  /* font */
  font: 1em sans-serif;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  font-weight: bold;
  font-weight: 900;
  /* text */
  text-align: left;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-transform: lowercase;
  border: 1px solid #000;
  border: 1px solid #000;
  border-radius: 50%;
  border-right: 1px solid #000;
  border: 1px 2px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
