:root {
  /* #0D1325 */
  /* color */
  --color-primary: #078e5c;
  --color-primary--light: #90ecc5;
  --color-white: #fff;

  --color-dark--main: #030406;
  --color-dark--light: #01091e;
  --color-gray--main: #f2f6fa;
  --color-gray--light: #606163;
  --color-gray--dark: #243047;

  --bg-gray--main: #141517;

  /* --color-secondary: #ff9800;
  --color-background-main: #f5f5f5;
  --color-text: #e9ecef;
  --color-white: #fff;
  --bg-gray--dark: #0d1325;
  --text-color--primary: #ced4da; */
  /* font */
  --font-inter: 'Inter', sans-serif;
  --fs-base: 1rem;
  --fw--base: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--font-inter);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  background-color: var(--color-dark--main);
  color: var(--color-gray--main);
}
.text-primary {
  color: var(--color-primary) !important;
}
.text-gray {
  color: var(--color-gray--light) !important;
}
.btn-bg--gray {
  background-color: var(--color-gray--light) !important;
}
/* Target all scrollbars */
::-webkit-scrollbar {
  width: 1rem; /* Width of the vertical scrollbar */
}

/* Style the track */
::-webkit-scrollbar-track {
  background: var(--color-dark--main);
  border-radius: 10px;
}

/* Style the thumb (handle) */
::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* Gray thumb */
  border-radius: 10px;
}

/* Add a hover effect to the thumb */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary--light);
}
/* GRID */
.grid {
  display: grid;
}
.grid-cols--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols--4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols--5 {
  grid-template-columns: repeat(5, 1fr);
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-items: center;
}
.justify-self-center {
  justify-self: center;
}
.max-w-md {
  max-width: 48rem;
}

/* ******************* */
.lh-12 {
  line-height: 1.2;
}
.bg-gray--dark {
  background-color: var(--bg-gray--main);
}
.text-lg {
  font-size: 4.4rem;
}
.fw-bold {
  font-weight: 700;
}
.p-2 {
  padding: 2rem !important;
}
.px-32 {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
}
.p-md {
  padding: 4.8rem !important;
}
.p-lg {
  padding: 9.6rem !important;
}
.p-2xl {
  padding: 12.8rem !important;
}
.pb-2xl {
  padding-bottom: 9.6rem !important;
}
.h-20 {
  height: 20rem;
}
.h-full {
  height: 100%;
}
.w-half {
  width: 50%;
}
.w-full {
  width: 100%;
}
.w-60 {
  width: 60%;
}
.w-48 {
  width: 48%;
}
.w-80 {
  width: 80%;
}

.mb-2xl {
  margin-bottom: 9.6rem !important;
}
.mx-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-44 {
  margin-top: 4.4rem !important;
}

.mt-md {
  margin-top: 4.8rem !important;
}
.mt-2xl {
  margin-top: 12.8rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-md {
  margin-bottom: 4.8rem !important;
}
.mb-lg {
  margin-bottom: 6.2rem !important;
}
.relative {
  position: relative;
}
.h-full {
  height: 100%;
}
.rounded-md {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.rounded-lg {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.text-center {
  text-align: center !important;
}
.text-md {
  font-size: 2rem;
}
.icon {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}
.text-upper {
  text-transform: uppercase;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-gray--main);
}
/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*  FLEX*/
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-self {
  align-self: center;
}
.flex-col {
  flex-direction: column;
}
.gap-sm {
  gap: 0.5rem;
}
.gap-md {
  gap: 4.8rem;
}
.gap-12 {
  gap: 1.2rem;
}
.gap-14 {
  gap: 1.4rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
/* BUTTON */
.btn {
  display: inline-block;
  padding: 1rem 1.6rem;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
}
.btn--transparent {
  background-color: #0d1426;
  color: #8f939b;
}
.btn--full {
  background-color: var(--color-gray--main);
  color: var(--color-dark--main);
}
.btn--full:hover {
  background-color: var(--color-gray--light);
  color: var(--color-gray--main);
}

/* CARD */
.card {
  box-shadow: 0 0 0 1.2px rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 2.4rem;
}

.icon-box {
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--color-dark--main);
  box-shadow: 0 0 0 1.2px rgba(255, 255, 255, 0.1);
}
.box {
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.box-right {
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.box-left {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.box-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.box-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.logo {
  width: 3.2rem;
  height: 3.2rem;
}
img.logo:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.glassy {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 0.4rem 0.8rem;
}

.buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--color-gray--light);
}

.buttons button:hover {
  color: var(--color-gray--main);
}
