:root {
  /* #0D1325 */
  /* color */
  --color-primary: #078e5c;
  --color-primary--light: #90ecc5;
  --color-white: #fff;

  --color-dark--main: #030406;
  --color-dark--light: #01091e;
  --color-gray--main: #f2f6fa;
  --color-gray--light: #c1c7d0;
  --color-gray--dark: #243047;

  /* --color-secondary: #ff9800;
  --color-background-main: #f5f5f5;
  --color-text: #e9ecef;
  --color-white: #fff;
  --bg-gray--dark: #0d1325;
  --text-color--primary: #ced4da; */
  /* font */
  --font-inter: 'Inter', sans-serif;
  --fs-base: 1rem;
  --fw--base: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--font-inter);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  background-color: var(--color-dark--main);
  color: var(--color-gray--main);
}
.text-primary {
  color: var(--color-primary);
}
.text-gray {
  color: var(--color-gray--light);
}
/* GRID */
.grid {
  display: grid;
}
.grid-cols--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols--4 {
  grid-template-columns: repeat(4, 1fr);
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-items: center;
}
.justify-self-center {
  justify-self: center;
}
.max-w-md {
  max-width: 48rem;
}

/* ******************* */
.text-lg {
  font-size: 4.4rem;
}
.fw-bold {
  font-weight: 700;
}
.p-2 {
  padding: 2rem;
}
.pb-2xl {
  padding-bottom: 9.6rem;
}
.h-20 {
  height: 20rem;
}
.h-full {
  height: 100%;
}
.w-half {
  width: 50%;
}
.w-full {
  width: 100%;
}
.w-60 {
  width: 60%;
}

.mb-2xl {
  margin-bottom: 9.6rem !important;
}
.mx-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-44 {
  margin-top: 4.4rem !important;
}

.mt-md {
  margin-top: 4.8rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-md {
  margin-bottom: 4.8rem !important;
}
.text-center {
  text-align: center !important;
}
.text-md {
  font-size: 2rem;
}
.icon {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
}
.text-upper {
  text-transform: uppercase;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-gray--main);
}
/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*  FLEX*/
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-self {
  align-self: center;
}
.flex-col {
  flex-direction: column;
}
.gap-sm {
  gap: 0.5rem;
}
.gap-md {
  gap: 4.8rem;
}
.gap-12 {
  gap: 1.2rem;
}
.gap-14 {
  gap: 1.4rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
/* BUTTON */
.btn {
  display: inline-block;
  padding: 1rem 1.6rem;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
}
.btn--transparent {
  background-color: #0d1426;
  color: #8f939b;
}
.btn--full {
  background-color: var(--color-gray--main);
  color: var(--color-dark--main);
}
.btn--full:hover {
  background-color: var(--color-gray--light);
}

/* CARD */
.card {
  box-shadow: 0 0 0 1.2px rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 2.4rem;
}
