/* HEADER */
.header {
  height: 100vh;
  background-image: url(/assets/svgs/bg-dark.svg);
  background-size: cover;
  background-position: center;
}

/* MAIN NAV */
.main-nav {
  padding: 3.2rem 0;
}
.main-nav img {
  height: 3rem;
}
.main-nav ul {
  font-size: 1.8rem;
  font-weight: 500;
}
.main-nav ul a {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  /* background: rgba(255, 255, 255, 0.2); */
  /* Blur the content behind */
}
.main-nav ul a:hover {
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: var(--color-dark--light);
}
.glossy-background {
  /* Semi-transparent white background */
  color: var(--color-gray-light);
  /* Blur the content behind */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* Light border for edge shine */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  /* Soft shadow for depth */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
